<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title titulo-cadastro">Cadastro</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary subtitulo">Preencha seus dados para ter acesso.</h6>
            <div class="space"></div>
            <form (ngSubmit)="criarConta()" #cadastroForm="ngForm">
                <div class="form-group">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" id="nomeCompleto" class="form-control" placeholder="Digite seu Nome Completo" [(ngModel)]="nomeCompleto" name="nomeCompleto" required>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" class="form-control" placeholder="Digite seu E-Mail / Exemplo: nome@gmail.com" [(ngModel)]="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" class="form-control" placeholder="Digite uma senha forte" [(ngModel)]="senha" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="confirmacaoSenha">Confirmação de senha</label>
                    <input type="password" id="confirmacaoSenha" class="form-control" placeholder="Repita a senha" [(ngModel)]="confirmacaoSenha" name="confirmacaoSenha" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="aceiteContrato" class="form-check-input" [(ngModel)]="aceiteContrato" name="aceiteContrato" required>
                    <label for="aceiteContrato" class="form-check-label">Eu aceito os  <a href="#">termos de uso e privacidade</a> e o  <a href="#">contrato de serviços.</a></label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!cadastroForm.form.valid">Criar Conta</button>
                </div>
            </form>
        </div>
    </div>
</div>